In [2]:
import pandas as pd
inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
df

   c1   c2
0  10  100
1  11  110
2  12  120

In [6]:
df["new_column"]=''
df

   c1   c2 new_column
0  10  100
1  11  110
2  12  120

In [12]:
for index, row in df.iterrows():
    df.set_value(index, "new_column", [row['c1'],row['c2']])
df

   c1   c2 new_column
0  10  100  [10, 100]
1  11  110  [11, 110]
2  12  120  [12, 120]